{% extends 'base.html.twig' %}

{% block title %}Создай задачу{% endblock %}

{% block body %}
    <h1 class="text-center mb-4 space-mono-bold">Создай задачу</h1>

    <form method="post" class="card p-4 d-flex flex-column align-items-center">
        {{ form_start(form) }}
        <div class="mb-3 w-100">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control w-100'}}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="mb-3 w-100">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control w-100'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="mb-3 w-100">
            {{ form_label(form.completed, 'Завершено?', {'label_attr': {'class': 'form-check-label'}}) }}
            {{ form_widget(form.completed, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        <div class="mb-3 w-100">
            {{ form_label(form.deadline) }}
            {{ form_widget(form.deadline, {'attr': {'class': 'form-control w-100'}}) }}
            {{ form_errors(form.deadline) }}
        </div>

        <!-- Кнопки "Сохранить" и "Отмена" -->
        <div class="d-flex justify-content-between w-100">
            <button type="submit" class="btn btn-primary flex-grow-1 me-2 save-button" style="max-width: 48%;">Сохранить</button>
            <a href="{{ path('task_index') }}" class="btn btn-secondary flex-grow-1 cancel-button" style="max-width: 48%;">Отмена</a>
        </div>
        {{ form_end(form) }}
    </form>
    </div>
{% endblock %}