{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Список задач</h1>

    <a href="{{ path('task_create') }}" class="btn btn-primary d-block mb-3">Создать новую задачу</a>

    <ul class="list-unstyled">
        {% for task in tasks %}
            <li class="task-item {% if task.isCompleted %}completed{% endif %}">
                <strong>{{ task.title }}</strong> - {{ task.description }}
                <div class="mt-2">
                    <a href="{{ path('task_edit', { id: task.id }) }}" class="btn btn-sm btn-warning">Изменить</a>
                    <a href="{{ path('task_delete', { id: task.id }) }}" class="btn btn-sm btn-danger">Удалить</a>
                </div>
            </li>
        {% else %}
            <p class="text-center">Нет задач.</p>
        {% endfor %}
    </ul>
{% endblock %}